#root {
  max-width: 1280px;
  text-align: center;
}
.btn-upd {
  padding: 15px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.stack-container {
  position: relative;
}
.customResize {
  width: 94.4%;
  left: 5.6%;
}
.card-upload {
  position: absolute;
  top: 25vh;
  left: 45vh;
}
.card {
  border: 1px solid #e6e5e5;
  overflow: hidden;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.card-content {
  border: 1.5px dashed #dddada;
  margin: 10px 15px 15px 15px;
  position: relative;
  background: #fcfbfbb0;
  overflow: hidden;
  border-radius: 10px;
  z-index: 100;
}

.card-content:hover {
  transition: background-color 0.1s ease;
  background-color: #dbdeff;
  border: 1.5px dashed #007bff;
}

.Edit_column {
  display: grid;
  grid-template-columns: 5.6% 27% 67.4%;
  grid-template-rows: 100vh;
}
.icons-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 80vh;
}
.column1 {
  background-color: #f7f7f8;
  border: 0.5px solid #d7d6d6;
  height: 100vh;
}

.column2 {
  background-color: #f7f7f8;
  border: 0.5px solid #d7d6d6;
}

.column3 {
  background-color: #f7f8f8;
  border: 0.5px solid #d7d6d6;
  position: relative;
}
/* .div-media-tl {
  border: "1px solid #ded70b";
  height: 40%;
  width: 100%;
  display: flexbox;
} */
.iconStyle {
  font-size: 27px;
  position: relative;
  display: flexbox; /* Use 'flex' instead of 'flexbox' */
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.background-circ {
  position: absolute;
  border-radius: 50%; /* Ensure it's a perfect circle */
  left: 19px;
  top: -5px;
  width: 50px; /* Adjust width and height to cover the entire icon */
  height: 50px;
  opacity: 0;
  z-index: -1;
}

.iconStyle:hover .background-circ {
  background-color: #e8e7e7;
  transition: opacity 0.1s ease-in;
  opacity: 1;
}

.proj_monitor {
  background-color: black;
}

.upd_card_close {
  position: absolute;
  top: 5vh;
  right: 5vh;
  cursor: pointer;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tools_timeline .tools_bg {
  opacity: 0;
  /* background-color: ; */
}
.tools_timeline:hover .tools_bg {
  background-color: #e8e7e7;
  transition: opacity 0.1s ease-in;
  opacity: 1;
  cursor: pointer;
}
